.home_page{
  background: #1f1f20;
}
.home_image{
  position: relative;
  color: white;
}
.home_top_navbar{
  position: absolute;
  top: 8px;
  left: 16px;
}
.home_title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home_title h1{
  font-size: 65px;
}
.home_title p{
  font-size: 30px;
}
.home_navbar{
  margin-left: 100px;
  display: flex;
}
.home_navbar h1{
  color: #fb2525;
}
.home_navbar h1:hover{
  cursor: pointer;
}
.home_list{
  margin-left: 1000px;
  list-style: none;
  display: flex;
  color: white;
}
.home_item{
  background-color: #fb2525;
  padding: 12px;
  margin-left: 10px;
  border-radius: 5%;
}
.home_item:hover{
  border: 1px solid white;
  cursor: pointer;
}
/*login*/
.loginbox{
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
.loginbox_register{
  height: 450px;
}
.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
.loginbox h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.loginbox input{
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.loginbox button{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.loginbox button:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.linkStyle_login{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.linkStyle_login:hover
{
  color: #ffc107;
}
.linkStyle{
  text-decoration: none;
}
.linkStyle li{
  color: #61dafb;
}
.home_info{
  width: 50%;
  margin-left: 25%;
  padding: 30px;
  color: white;
  border-top: 6px solid #575758;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home_info h1{
  color:  #61dafb;
}
/*footer*/
footer{
  text-align: center;
  display: grid;
  background: #1f1f20;
  border-top: 6px solid #575758;
}
.footer-list{
  display: flex;
  list-style-type: none;
  font-size: 60px;
  justify-content: center;
}
.footer-list li{
  padding-left: 10px;
}
.footer-list li:hover{
  color: #fb2525;
}
.ligne{
  background: white;
  height: 1px;
}
footer p{
  color: white;
}
/*movie*/
.movie_page{
  background-color: #01060E;
  display: grid;
  grid-row-gap: 20px;
}
.movie_navbar{
  display: flex;
  justify-content: space-around;
  background-color: #071529;
  box-shadow: 1px 0 2px 1px #061932;
}
.movie_navbar h1{
  color: #fb2525;
}
.movie_navbar_list{
  padding-top: 10px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 300px;
  color: #61dafb;
}
.user_logout{
  background-color: #fb2525;
  padding: 6px;
  border-radius: 5%;
  margin-left: 20px;
}
.user_logout:hover{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.account_avatar{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 30px;
}
.Movie_list{
  display: grid;
  width: 900px;
  grid-template-columns: repeat(4,auto);
  grid-row-gap: 10px;
  background-color: #0F1620;
  padding: 30px;
  border-radius: 6px;
}
.Movie_item h4{
  text-align: center;
  color: rgb(153, 152, 152);
}
.Movie_item h4:hover{
  color: #61dafb;
}
.movie_list_container{
  display: grid;
  justify-content: center;
}
.btn{
  border: none;
}
.btn:hover{
  background-color: #61dafb;
}
.polygone{
  width: 60px;
  height: 55px;
  background-color: rgba(16, 23, 53, 0.8);
  color: white;
  clip-path: polygon(83% 100%, 50% 56%, 16% 100%, 16% 0, 83% 0);
  position: absolute;
  transform: translate(0,-285px);
}
.polygone:hover{
  cursor: pointer;
  background-color: rgba(15, 15, 15, 0.8); 
}
.polygone div{
  margin-left: 20px;
  margin-top: -5px;
  font-size: 30px;
}
.movie_image{
  position: relative;
  box-shadow: 0px 0px 10px -2px rgba(97,218,251,1);
}
.star{
  width: 55px;
  height: 55px;
  background-color: Gold;
  color: black;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  position: absolute;
  transform: translate(145px,-280px);
}
.star div{
  margin-left: 23px;
  margin-top: 15px;
  font-weight: bold;
}
/*pagination*/ 
.pagination{
  padding: 10px 100px 10px 100px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 300px;
  color: #61dafb;
  cursor: pointer;
  background-color: #071529;
  border-radius: 6px;
}
.pagination_container{
  display: grid;
  justify-content: center;
  margin-bottom: 50px;
}
/*admin*/
.admin_navbar_list{
  width: 450px;
  margin-top: 50px;
}
.admin_page,.search_admin{
  display: grid;
  justify-content: center;
}
